In [1]:
import sqlalchemy 
import pyodbc 
import os
import socket
import pandas as pd

In [2]:
host = socket.gethostname()
MSserver = 'DESKTOP-SAVNKTF\SQLEXPRESS'

In [3]:
choice = input(f'''Which Server You want to connect''')
if 'ms' in choice.lower():
    conn = sqlalchemy.create_engine(f'mssql+pyodbc://{MSserver}/OULAD_DB?trusted_connection=yes&driver=ODBC Driver 17 for SQL Server', echo=True)
elif 'my' in choice.lower():
    conn = sqlalchemy.create_engine(f'mysql+mysqlconnector://root:MYSQLPASS@127.0.0.1:3306/portfolio_project',echo=True)
else:
    print('The Server you want to connect to is currently not supported by the program\nSorry for the inconvinence')

Which Server You want to connectmssql

In [4]:
files = os.listdir(os.chdir(input('Paste Folder Path Here:\n')))
files

Paste Folder Path Here:
F:\hASSANaBBAS\SQL-Course-Materials\Database

['assessments.csv',
 'courses.csv',
 'studentAssessment.csv',
 'studentInfo.csv',
 'studentRegistration.csv',
 'studentVle.csv',
 'vle.csv']

In [5]:
#Reading csv and Excel Files to and converting them as a pandas dataframe then converting them as a sql table
a = 'y'
while a in ['y', 'yes']:
    fl = input('Input File Name: ')
    if fl in files:
        #if file is excel file run this.
        if (fl.split('.')[1] in ['xls', 'xlsx', 'xlsm', 'xlsb', 'odf', 'ods', 'odt']):
            
            df = pd.read_excel(fl)

        #if file is csv run this
        
        if (fl.split('.')[1] in ['csv']):
            
            df = pd.read_csv(fl)

        #convert to SQL table    
        
        df.to_sql(fl.split('.')[0], con=conn, if_exists='replace')
        print('File Transfer to Database complete....\n')
        a = input('Do you want to continue (y/n):\n').lower()
        print('\n')

    else:
        print('File not found in current directory\n')
        a = input('Do you want to continue (y/n):\n').lower()
        print('\n')

Input File Name: assessments.csv
2021-10-17 14:05:46,922 INFO sqlalchemy.engine.base.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2021-10-17 14:05:46,926 INFO sqlalchemy.engine.base.Engine ()
2021-10-17 14:05:46,928 INFO sqlalchemy.engine.base.Engine SELECT schema_name()
2021-10-17 14:05:46,930 INFO sqlalchemy.engine.base.Engine ()
2021-10-17 14:05:46,935 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-10-17 14:05:46,937 INFO sqlalchemy.engine.base.Engine ()
2021-10-17 14:05:46,939 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1
2021-10-17 14:05:46,940 INFO sqlalchemy.engine.base.Engine ()
2021-10-17 14:05:46,943 INFO sqlalchemy.engine.base.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2021-10-17 14:05:46,944 INFO sqlalchemy.engine.base.Engine ()
2021-10-17 14:05:46,955 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2021-10-17 14:05:46,957 INFO sqlalchemy.engine.base.Engine ('assessments', 'dbo')
2021-10-17 14:05:47,003 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2021-10-17 14:05:47,004 INFO sqlalchemy.engine.base.Engine ('assessments', 'dbo')
2021-10-17 14:05:47,009 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2021-10-17 14:05:47,010 INFO sqlalchemy.engine.base.Engine ('dbo', 'BASE TABLE')
2021-10-17 14:05:47,045 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] = sys.computed_columns.name
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2021-10-17 14:05:47,048 INFO sqlalchemy.engine.base.Engine ('.', 'assessments', 'dbo')
2021-10-17 14:05:47,092 INFO sqlalchemy.engine.base.Engine sp_columns @table_name = 'assessments', @table_owner = 'dbo'
2021-10-17 14:05:47,094 INFO sqlalchemy.engine.base.Engine ()
2021-10-17 14:05:47,211 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2021-10-17 14:05:47,212 INFO sqlalchemy.engine.base.Engine ('assessments', 'dbo')
2021-10-17 14:05:47,333 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [R].[TABLE_SCHEMA], [R].[TABLE_NAME], [R].[COLUMN_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[MATCH_OPTION], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UPDATE_RULE], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[DELETE_RULE]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [R], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS]
WHERE [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME] AND [R].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_NAME] AND [R].[CONSTRAINT_SCHEMA] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_SCHEMA] AND [C].[ORDINAL_POSITION] = [R].[ORDINAL_POSITION] ORDER BY [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [R].[ORDINAL_POSITION]
2021-10-17 14:05:47,334 INFO sqlalchemy.engine.base.Engine ('assessments', 'dbo')
2021-10-17 14:05:47,530 INFO sqlalchemy.engine.base.Engine select ind.index_id, ind.is_unique, ind.name from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2021-10-17 14:05:47,531 INFO sqlalchemy.engine.base.Engine ('assessments', 'dbo')
2021-10-17 14:05:47,576 INFO sqlalchemy.engine.base.Engine select ind_col.index_id, ind_col.object_id, col.name from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(? AS NVARCHAR(max)) and sch.name=CAST(? AS NVARCHAR(max))
2021-10-17 14:05:47,577 INFO sqlalchemy.engine.base.Engine ('assessments', 'dbo')
2021-10-17 14:05:47,627 INFO sqlalchemy.engine.base.Engine
DROP TABLE assessments
2021-10-17 14:05:47,629 INFO sqlalchemy.engine.base.Engine ()
2021-10-17 14:05:47,633 INFO sqlalchemy.engine.base.Engine COMMIT
2021-10-17 14:05:47,693 INFO sqlalchemy.engine.base.Engine
CREATE TABLE assessments (
	[index] BIGINT NULL,
	code_module VARCHAR(max) NULL,
	code_presentation VARCHAR(max) NULL,
	id_assessment BIGINT NULL,
	assessment_type VARCHAR(max) NULL,
	date FLOAT(53) NULL,
	weight FLOAT(53) NULL
)


2021-10-17 14:05:47,694 INFO sqlalchemy.engine.base.Engine ()
2021-10-17 14:05:47,716 INFO sqlalchemy.engine.base.Engine COMMIT
2021-10-17 14:05:47,719 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_assessments_index ON assessments ([index])
2021-10-17 14:05:47,721 INFO sqlalchemy.engine.base.Engine ()
2021-10-17 14:05:47,726 INFO sqlalchemy.engine.base.Engine COMMIT

2021-10-17 14:05:47,733 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-10-17 14:05:47,738 INFO sqlalchemy.engine.base.Engine INSERT INTO assessments ([index], code_module, code_presentation, id_assessment, assessment_type, date, weight) VALUES (?, ?, ?, ?, ?, ?, ?)
2021-10-17 14:05:47,740 INFO sqlalchemy.engine.base.Engine ((0, 'AAA', '2013J', 1752, 'TMA', 19.0, 10.0), (1, 'AAA', '2013J', 1753, 'TMA', 54.0, 20.0), (2, 'AAA', '2013J', 1754, 'TMA', 117.0, 20.0), (3, 'AAA', '2013J', 1755, 'TMA', 166.0, 20.0), (4, 'AAA', '2013J', 1756, 'TMA', 215.0, 30.0), (5, 'AAA', '2013J', 1757, 'Exam', None, 100.0), (6, 'AAA', '2014J', 1758, 'TMA', 19.0, 10.0), (7, 'AAA', '2014J', 1759, 'TMA', 54.0, 20.0)  ... displaying 10 of 206 total bound parameter sets ...  (204, 'GGG', '2014J', 37437, 'TMA', 173.0, 0.0), (205, 'GGG', '2014J', 37444, 'Exam', 229.0, 100.0))
2021-10-17 14:05:47,805 INFO sqlalchemy.engine.base.Engine COMMIT
File Transfer to Database complete....

Do you want to continue (y/n):
n